[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==0.4.1"
jupyter = "*"
pyro-ppl = "*"
pyprob = {editable = true, git = "https://github.com/probprog/pyprob.git"}
pip = "==18.0"
tensorflow = ">=1.12.0"
tensorflow-probability = ">=0.5"

[dev-packages]

[requires]
python_version = "3.6"
